.section-partners{
  padding-top: 65px;
  padding-bottom: 90px;
  background-color: $light-grey;
  .partners{
    &__list{
      display: flex;
      flex-wrap: wrap;
      padding: 0 3%;
    }
    &__item{
      width: 20%;
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: .5;
      margin-bottom: 42px;
    }
    &__img{
      width: auto;
    }
  }
}