.section-banner {
  padding-top: 100px;
  color: $white;

  .banner__slide{
    min-height: 740px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  .banner__content{
    max-width: 400px;
  }
  .banner__title{
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 35px;
    line-height: 1;
  }
  .bold{
    font-weight: 700;
    font-size: 80px;
    text-transform: uppercase;
  }
  .text{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 48px;
  }
}







