.accordion {
  overflow: hidden;

  .open-panel {
    position: absolute;
    display: flex;
    width: 26px;
    height: 15px;
    top: 50%;
    right: 0;

    &:before {
      position: absolute;
      content: '';
      background-image: url(../assets/img/arrow-down1.png);
      width: 24px;
      height: 13px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      z-index: 1;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .panel {
    position: relative;
    padding-bottom: 56px;
    width: 100%;

    &:after {
      position: absolute;
      content: '';
      display: block;
      border: 1px solid #000000;
      opacity: 0.2;
      left: 0;
      bottom: 0;
      width: 80%;
    }

    &__heading {
      position: relative;
      padding: 7% 35px 35px 0;
      transition: .7s;
    }

    &:first-child {
      .panel__heading {
        padding-top: 5%;
      }
    }

    &__title {

      margin: 0 0 60px 0;
      color: $dark;
      font-size: 45px;
      font-weight: 400;
    }

    .icon {

      width: 33px;
      height: 33px;
      display: inline-block;
      margin-left: 100px;

      img {
        vertical-align: middle;
      }
    }

    &__text {
      font-size: 19px;
      line-height: 1.32;
      width: 80%;

    }

    &:last-child:after {
      display: none;
    }
  }

  .panel-collapse {
    display: none;
    padding: 5px 0 40px;

    &__body {
      background-color: $light-grey;
      padding: 56px 6px 5px 76px;
    }
  }

  .open {
    display: block;

    .panel__text {
      width: 100%;
    }

    .open-panel {
      transition: transform .5s;
      transform: rotate(-180deg);
    }
  }

  @include respond-to($xl) {
    .open-panel {
      top: 30%;
    }
    @include respond-to($lg) {

      .open-panel {
        top: 18%;
      }
      .panel__text {
        font-size: 17px;
      }

      .panel__title {
        font-size: 30px;
      }
    }
  }
  @include respond-to($md) {
    .panel__title{
      margin-bottom: 35px;
    }
    .panel__text{
      width: 100%;
    }
    .open-panel{
      top: auto;
      bottom: -18px;
      left: 0;
    }
  }

}