.accordion {
  overflow: hidden;

  .open-panel {
    position: absolute;
    display: flex;
    width: 24px;
    height: 13px;
    top: 50%;
    right: -24px;
    background-image: url(../assets/img/arrow-down1.png);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform-origin: 50% 50%;
    transform: translateY(-50%);
    transition: transform .5s;
    z-index: 1;
  }

  .panel {
    position: relative;
    padding-bottom: 56px;
    width: 100%;

    &:after {
      position: absolute;
      content: '';
      display: block;
      height: 1px;
      background-color: #000000;
      opacity: 0.2;
      left: 0;
      bottom: 0;
      width: 80%;
    }

    &__heading {
      position: relative;
      padding: 7% 35px 35px 0;
      transition: .7s;
    }

    &:first-child {
      .panel__heading {
        padding-top: 5%;
      }
    }

    &__title {
      position: relative;
      margin: 0 0 60px 0;
      color: $dark;
      font-size: 45px;
      font-weight: 400;
    }

    .icon {
      width: 33px;
      height: 33px;
      margin-left: 8.225%;
      display: inline-block;
      vertical-align: middle;

      img {
        display: block;
      }
    }

    &__text {
      font-size: 19px;
      line-height: 1.32;
      width: 80%;
    }

    &:last-child:after {
      display: none;
    }
  }

  .panel-collapse {
    display: none;
    padding: 5px 0 40px;

    &__body {
      background-color: $light-grey;
      padding: 55px 0;
    }
  }

  .open {
    display: block;

    .panel__text {
      width: 100%;
    }

    .open-panel {
      transform: rotate(-180deg) translateY(-50%);
    }
  }

  @include respond-to($lg) {
    .panel__text {
      font-size: 17px;
    }

    .panel__title {
      font-size: 30px;
    }
  }

  @include respond-to($md) {
    .panel__title {
      position: static;
      margin-bottom: 35px;
    }
    .panel__text {
      width: 100%;
    }
    .open-panel {
      top: auto;
      bottom: -18px;
      left: 0;
    }
  }
  @include respond-to($sm) {
    .panel {
      position: relative;
    }
    .panel__heading {
      position: static;
    }
    .panel__title {
      display: flex;
      flex-direction: column-reverse;
      padding-top: 0;

      .icon {
        margin-left: 0;
        width: 30px;
        height: 30px;
        margin-bottom: 16px;
      }
    }
    .open-panel {
      top: auto;
      bottom: 35px;
      left: 0;
    }
  }
}