.baguetteBox-button {
  &#next-button,
  &#previous-button {
    //background: $darkslateblue;
    border-radius: 50%;
    width: 64px;
    height: 64px;

    &:before {
      position: absolute;
      content: '';
      display: block;
      background-image: url(../assets/img/svg/right-arrow.svg);
      width: 20px;
      height: 20px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    svg {
      display: none;
    }
  }
  &#previous-button:before{
    transform: translate(-50%, -50%) rotate(180deg);
  }

  @include respond-to($lg){
    &#next-button,
    &#previous-button{
      width: 47px;
      height: 47px;
    }
  }
  @include respond-to($sm){
    &#next-button,
    &#previous-button{
      width: 30px;
      height: 30px;
      &:before {
        width: 12px;
        height: 12px;
      }
    }
  }
}