.block-written {
  position: fixed;
  max-width: 530px;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: $white;
  padding: 50px 63px 58px 58px;
  z-index: 700;
  overflow-y: scroll;
  transform: translateX(100%);
  transition:  transform .5s;
  &.open{
    transform: translateX(0);
  }

  &__title {
    font-size: 19px;
    font-weight: 400;
  }

  &__body {
    padding-top: 95px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }

  .bold {
    font-size: 35px;
  }

  .logo {
    display: inline-block;
    max-width: 52px;
    margin-bottom: 40px;
  }

  .btn-close {

    right: 45px;
    top: 36px;
  }

  .form {
    font-size: 17px;
    font-weight: 300;
    padding-bottom: 32px;

    .wrap-link,
    &__footer,
    .field-box,
    .textarea {
      width: 100%;
      max-width: initial;
    }

    .textarea {
      padding-top: 10px;
      max-height: 94px;
      margin-bottom: 20px;
    }

    .input {
      margin-bottom: 20px;
    }

    &__footer {
      padding-top: 13px;
      flex-wrap: wrap;
    }

    .wrap-link {
      display: flex;
      justify-content: space-between;
      padding-top: 98px;
    }

    .link-presentation {
      width: 53%;
    }

    .custom-select {
      width: 38%;
    }

    .link-presentation:before,
    .nice-select:before {
      opacity: .4;
    }
  }

  .phone-link {
    font-size: 22px;
  }
  @include respond-to($sm){
    max-width: 100%;
    padding: 50px 30px;
    .mob-hide{
      display: none;
    }
    .form__footer{
      padding-left: 0;
    }
  }
}