.form {
  font-size: 20px;
  color: $dark;
  width: 100%;

  .input {
    display: block;
    width: 100%;
    background: #ffffff;
    border: none;
    border-bottom: 2px solid #525250;
    line-height: 1;
    padding: 20px 10px 10px 0;
    margin-bottom: 30px;
  }

  ::placeholder {
    color: $dark-grey;
  }

  .textarea {
    width: 55%;
    border: none;
    border-bottom: 2px solid #525250;
    padding: 20px 10px 10px 0;
    max-height: 143px;
    margin-bottom: 48px;
  }

  .field-box {
    max-width: 354px;
    width: 25%;
  }

  &__footer {
    display: flex;
    width: 55%;
    justify-content: space-between;

    .link-presentation {
      position: relative;
      font-size: 14px;
      color: $dark-grey;
      width: 26.5%;
      display: block;
      padding-bottom: 2px;
      padding-top: 18px;
      border-bottom: 2px solid #c9d4dd;

      &:before {
        position: absolute;
        content: '';
        background-image: url(../assets/img/up-pdf.png);
        width: 19px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        right: 0;
        bottom: 5px;
      }
    }
  }

  @include respond-to($xl) {
    .field-box {
      width: 32%;
    }
  }
  @include respond-to($sm) {
    font-size: 17px;
    .form__footer{
      flex-wrap: wrap;
      padding-left: 28px;
      padding-top: 30px;
    }
    .textarea{
      max-height: 54px;
      margin-bottom: 16px;
      font-size: 17px;
    }
    .input{
      margin-bottom: 16px;
    }
    .wrap-btn{
      width: 100%;
      margin-bottom: 74px;
    }
    .custom-select,
    .link-presentation{
      width: 48%;
      border: none;
      padding-right: 10px;
      padding-left: 46px;
    }
    .link-presentation:before,
    .custom-select:before{
      width: 34px;
      height: 37px;
      left: 0;
    }
  }
}
