.card-gallery{
  display: block;
  font-size: 16px;
  color: $dark;
  &__wrap-thumb {
    position: relative;
    overflow: hidden;
    padding-top: 79%;
    margin-bottom: 14px;
  }
  &__thumb {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%) scale(1);
    transition: .45s;

    &:hover, &:focus {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
  &__title {
    margin-bottom: 0;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    color: $dark;
  }

  &__body {
    padding: 0 7px;
  }
}