:root {
  font-size: 16px;
}

.wrapper {
  overflow: hidden;
  width: 100%;
}

body {
  font: 400 1em $main-font;
  color: $dark;

  &.modal-open {
    overflow: hidden;
    height: 100%;
  }
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.main {
  padding-top: 100px;
}

.section {
  &__title {
    font-size: 80px;
    font-weight: 400;
    color: $gray-100;
    text-transform: uppercase;
  }
}

.dynamic-content {
  p {
    font-size: 15px;
  }

  img {
    width: 100%;
    margin-top: 70px;
    margin-bottom: 70px;
  }
}

.see-more {
  position: relative;
  display: inline-block;
  color: $yellow;
  font-size: 25px;
  line-height: 1;
  padding-right: 104px;
  transition: .35s;

  &:after {
    position: absolute;
    content: '';
    display: block;
    background-image: url(../assets/img/arrow-right.png);
    width: 56px;
    height: 13px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover,
  &:focus {
    color: $dark-grey;
  }
}

.btn_written {
  position: fixed;
  right: 58px;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px;
  width: 86px;
  height: 86px;
  background-color: $light-grey;
  border-radius: 50%;
  overflow: hidden;
  border: none;
  z-index: 300;

  img {
    vertical-align: middle;
  }

  @include respond-to($xxl) {
    width: 76px;
    height: 76px;
    right: 30px;
  }
}

@include respond-to($lg) {
  .section{
    .section__title {
      font-size: 60px;
    }
  }
}
