.page-services {
  .accordion {
    .swiper-wrapper {
      flex-wrap: wrap;
    }

    .swiper-pagination {
      bottom: 35px;
      padding: 3px;
    }

    .card__body {
      padding: 0 17px;
    }

    .card-list {
      &__item {
        width: 33.33%;
        line-height: 1.37;
        font-size: 16px;
        color: $dark-grey;
        padding: 35px 5%;
      }
      .title {
        font-size: 19px;
        margin-bottom: 14px;
        color: $dark;
        text-transform: uppercase;
      }
    }
  }

  .section-team {
    padding-bottom: 11.5%;
    padding-top: 100px;
    .section__title {
      font-size: 58px;
      font-weight: 700;
      line-height: 1;
      color: $dark;
      font-family: $secondary-font;
    }

    .section__sub-title {
      font-size: 34px;
      font-weight: 500;
      font-family: $secondary-font;
      margin-bottom: 36px;
    }

    .section__text {
      font-size: 19px;
      line-height: 1.625;
      color: $dark-grey;
      width: 50%;
      margin-bottom: 70px;
    }

    .section__heading {
      width: 50%;
      padding-top: 64px;
      font-size: 19px;
      line-height: 1.74;
      color: #404040;
      float: left;
    }

    .wrap-thumb {
      position: relative;
      width: 32%;
      float: right;
      margin-left: 20px;
    }
    .signature{
      position: absolute;
      bottom: 25px;
      left: 32px;
      font-weight: 300;
      font-size: 28px;
      color: $white;
      z-index: 1;
    }
  }

  .section-partners {
    background-color: $white;
    padding-top: 8.5%;

    .section__title {
      margin-bottom: 80px;
    }
  }

  .section-about {
    position: relative;
    padding-top: 27%;
    padding-bottom: 22%;
    &:before {
      top: 0;
      left: -112px;
    }
  }

  @include respond-to($xxl) {
    .section-team {
      padding-top: 50px;
      .section__heading {
        padding-top: 0;
      }

      .wrap-thumb {
        width: 45%;
      }

      .section__title {
        line-height: 1.3;
      }
    }
  }
  @include respond-to($xl) {
    .section-team {
      .section__title {
        font-size: 48px;
      }
    }
  }
  @include respond-to($lg) {
    .section-team {
      .wrap-thumb {
        margin-bottom: 36px;
      }

      .section__title {
        font-size: 36px;
      }

      .section__sub-title {
        font-size: 27px;
      }

      .section__text {
        width: 100%;
      }
    }
  }
  @include respond-to($md) {
    .accordion {
      .swiper-wrapper {
        flex-wrap: nowrap;
      }

      .card__body {
        margin-bottom: 0;
      }

      .card-list__item {
        width: 100%;
        padding: 15px 20px 20px;
        font-size: 15px;
      }
      .card__body {
        padding: 0;
      }
    }
  }
  @include respond-to($sm) {
    .section-team {
      padding-top: 30px;
      .section__heading,
      .wrap-thumb {
        float: none;
        width: 100%;
      }

      .wrap-thumb {
        margin-left: 0;
        margin-bottom: 30px;
      }

      .section__title {
        font-size: 27px;
        margin-bottom: 0;
      }

      .section__sub-title {
        font-size: 17px;
        margin-bottom: 20px;
      }
      .section__text{
        font-size: 17px;
        line-height: 26px;
        margin-bottom: 34px;
      }
      .see-more{
        font-size: 17px;
        padding-right: 80px;
      }
    }
    .section-partners{
      padding-bottom: 0;
    }
    .section-about{
      padding-bottom: 130px;
    }
  }
}

