.single-project {
  .main__img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 614px;
    margin-bottom: 70px;
  }

  .related-post {
    padding-bottom: 17%;
    padding-top: 7%;
  }

  .wrap-slider {
    padding: 0 130px;
    position: relative;
  }

  .article__heading {
    display: flex;

  }

  .content__heading {
    font-size: 15px;
    width: 55%;
    text-transform: uppercase;
    padding-right: 30px;
  }

  .block-information {
    width: 28%;
    flex-shrink: 0;
    font-size: 15px;
    line-height: 1.4;

    &__item {
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .information {
      color: $dark-grey;
    }
  }

  .block-information_mob,
  .info_mob-visible {
    display: none;
  }

  .article__title {
    font-size: 30px;
    color: $dark;
    margin-bottom: 55px;
  }
  .wrap-img{
    position: relative;
    padding-top: 59.5%;
    margin-top: 70px;
    margin-bottom: 70px;
    img{
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: translate(-50%, -50%);
    }
  }
  .dynamic-content p {
    text-align: center;
  }
  @include respond-to($xl) {
    .wrap-slider{
      padding: 0 64px;
    }
    .card-gallery__title{
      font-size: 20px;
    }
  }
  @include respond-to($lg) {
    .main__img {
      min-height: 500px;
    }
    .wrap-slider{
      padding: 0 35px;
    }
    .card-gallery__body {
      display: none;
    }
  }
  @include respond-to($md) {
    .content__heading {
      width: 75%;
    }
  }
  @include respond-to($sm) {
    .main__img {
      min-height: 295px;
      margin-bottom: 30px;
    }
    .article__heading {
      flex-direction: column;
    }
    .article__title {
      line-height: 1;
      margin-bottom: 45px;
    }
    .block-information_desktop {
      display: none;
    }
    .block-information_mob {
      display: flex;
      font-size: 12px;
      width: 100%;
    }
    .block-information__item {
      width: 50%;
    }
    .content__heading {
      font-size: 12px;
      line-height: 18px;
    }
    .info_mob-visible {
      color: $dark-grey;
      font-size: 12px;
      line-height: 1.4;
      display: block;
      margin-bottom: 7px;
    }
    .content__heading {
      width: 100%;
      margin-bottom: 55px;
    }
    .wrap-img{
      padding-top: 72%;
      margin-top: 0;
      margin-bottom: 40px;
    }
  }
}