.single-project{
  .main__img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 614px;
    margin-bottom: 70px;
  }
  .related-post{
    padding-bottom: 17%;
    padding-top: 7%;
  }
  .wrap-slider{
    padding: 0 130px;
    position: relative;
  }
}